---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='About Me'>
  <!-- ABOUT SECTION -->
  <section class='about' id='about'>
    <div class='max-width'>
      <h2 class='title'>About Me</h2>
      <div class='about-content'>
        <div class='column left'>
          <img src='/about.jpg' alt='About Profile Pic' />
        </div>
        <div class='column right'>
          <p>
            Currently living in fabulous Las Vegas. I have always enjoyed coding
            in my spare time and kicked it up a notch during the pandemic lockdown. 
            Let's just say freeCodeCamp and Udemy were my best friends.
          </p>
          <div class='certs'>
            <div class="ms">
              <h3>Microsoft Cerfifications</h3>
              <ul>
                <li>Azure Fundamentals</li>
              </ul>
            </div>
            <div class='fcc'>
              <h3>freeCodeCamp Certifications</h3>
              <ul>
                <li>Responsive Web Design</li>
                <li>JavaScript Algorithms & Data Structures</li>
              </ul>
            </div>
            <div class='udemy'>
              <h3>Udemy Courses</h3>
              <ul>
                <li>100 Days of Python - Dr. Angela Yu</li>
                <li>Modern JavaScript - Brad Traversy</li>
                <li>Web Developer Bootcamp - Colt Steele</li>
                <li>Go for Beginners - Trevor Sawler</li>
                <li>Python & Ethical Hacking - Zaid Sabih</li>
                <li>Full Stack Blockchain w/Python - David Katz</li>
              </ul>
            </div>
            <div class='current'>
              <h3>Currently Learning</h3>
              <ul>
                <li>GO</li>
                <li>Python</li>
                <li>Ethical Hacking</li>
                <li>Azure Admin & Development</li>
              </ul>
            </div>
          </div>
          <p>
            It has been an interesting ride from the pandemic until now. I've dabbled
            in Python, JavaScript, TypeScript, C#, C++, Rust, and Go but never mastered
            a single one of them. Bouncing around so much definitely won't help me land
            a job in tech so I'll have to focus up soon. No matter what I've had fun 
            learning along the way and I'll continue to do so.
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
