---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='About Me'>
  <!-- ABOUT SECTION -->
  <section class='about' id='about'>
    <div class='max-width'>
      <h2 class='title'>About Me</h2>
      <div class='about-content'>
        <div class='column left'>
          <img src='/ai-profile.jpg' alt='About Profile Pic' />
        </div>
        <div class='column right'>
          <p>
            Currently living in fabulous Las Vegas. Love gaming and I have always enjoyed coding
            in my spare time and kicked it up a notch during the pandemic lockdown. 
            Let's just say freeCodeCamp and Udemy were my best friends. It has been an interesting 
            ride from the pandemic until now. I've dabbled in Python, JavaScript, TypeScript, C#, 
            C++, Rust, and Go.
          </p>
          <div class='certs'>
            <div class="ms">
              <h3>Microsoft Cerfifications</h3>
              <ul>
                <li>Azure Fundamentals</li>
              </ul>
            </div>
            <div class='fcc'>
              <h3>freeCodeCamp Certifications</h3>
              <ul>
                <li>Responsive Web Design</li>
                <li>JavaScript Algorithms & Data Structures</li>
              </ul>
            </div>
            <div class='udemy'>
              <h3>Current Udemy Courses</h3>
              <ul>
                <li>Modern Python 3 Bootcamp - Colt Steele</li>
                <li>HTML & CSS Bootcamp 2023 - Colt Steele</li>
                <li>Modern Javascript Bootcamp - Steele / Grider</li>
                <li>Linux Command Line Bootcamp - Colt Steele</li>
                <li>Git & GitHub Bootcamp - Colt Steele</li>
                <li>Go: Developer's Guide - Stephen Grider</li>
                <li>Working w/React & Go - Trevor Sawler</li>
                <li>Full Stack Blockchain - David Katz</li>
                <li>AZ-204: Azure Developer - Scott Duffy</li>
              </ul>
            </div>
          </div>
          <p>
            My primary objective is to leverage my newly acquired development skills 
            to design and create highly efficient marketing tools for the casino 
            industry. My aim is to facilitate better communication and collaboration 
            between Marketing Executives and developers, enabling us to achieve more 
            with fewer resources. Ultimately, I aspire to bridge the gap between these 
            two teams and help streamline the development process, resulting in more 
            effective and marketing campaigns.
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
