---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='vendetti.DEV'>
  <!-- HOME SECTION -->
  <section class='home' id='home'>
    <div class='max-width'>
      <div class='home-content'>
        <div class='text-1'>Devon Vendetti</div>
        <div class='text-2'>#CodeNewbie</div>
      </div>
    </div>
  </section>
</BaseLayout>
