---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='Portfolio Projects'>
  <!-- PORTFOLIO SECTION -->
  <section class='portfolio' id='portfolio'>
    <div class='max-width'>
      <h2 class='title'>Portfolio</h2>
      <div class='portfolio-content'>
        <div class='project-card'>
          <img src='/cwcss.jpg' alt='CW Collections' class='project-img' />
          <h3>CW Collections</h3>
          <p class='subtext'>My first legit project!</p>
          <hr color='#2563eb' />
          <p class='project-link'>
            <a href='https://www.cwcollections.me' target='_blank'
              >Check It Out!</a
            >
          </p>
        </div>
        <div class='project-card'>
          <img
            src='/dv3ss.jpg'
            alt='DV3 Bootstrap Version'
            class='project-img'
          />
          <h3>DV3 Bootstrap Version</h3>
          <p class='subtext'>Personal Website 1.0</p>
          <hr color='#2563eb' />
          <p class='project-link'>
            <a href='https://v3nd3tti.github.io' target='_blank'
              >Check It Out!</a
            >
          </p>
        </div>
        <div class='project-card'>
          <img
            src='/fccportfolioss.jpg'
            alt='FCC Portfolio'
            class='project-img'
          />
          <h3>FCC Portfolio Project</h3>
          <p class='subtext'>FreeCodeCamp capstone project</p>
          <hr color='#2563eb' />
          <p class='project-link'>
            <a href='https://codepen.io/V3ND3TTi/pen/OJOWrwO' target='_blank'
              >Check It Out!</a
            >
          </p>
        </div>
        <div class='project-card'>
          <img src='/csspenguinss.jpg' alt='CSS Penguin' class='project-img' />
          <h3>CSS Penguin</h3>
          <p class='subtext'>Probably my fave FCC project.</p>
          <hr color='#2563eb' />
          <p class='project-link'>
            <a href='https://codepen.io/V3ND3TTi/pen/BamQgNN' target='_blank'
              >Check It Out!</a
            >
          </p>
        </div>
        <div class='project-card'>
          <img
            src='/fcctributess.jpg'
            alt='FCC Tribute Page'
            class='project-img'
          />
          <h3>FCC Tribute Page</h3>
          <p class='subtext'>Tribute page to Gregg Popovich.</p>
          <hr color='#2563eb' />
          <p class='project-link'>
            <a href='https://codepen.io/V3ND3TTi/pen/zYPOBay' target='_blank'
              >Check It Out!</a
            >
          </p>
        </div>
        <div class='project-card'>
          <img
            src='/fcclandingpagess.jpg'
            alt='FCC Landing Page'
            class='project-img'
          />
          <h3>FCC Landing Page</h3>
          <p class='subtext'>Landing page project.</p>
          <hr color='#2563eb' />
          <p class='project-link'>
            <a href='https://codepen.io/V3ND3TTi/pen/podNEBz' target='_blank'
              >Check It Out!</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
