---
const today = new Date();
---

<footer>
  <div class='max-width'>
    <div class='footer-content'>
      <div class='text'>
        <div>
          <span>vendetti</span>.DEV <i class='fa-regular fa-copyright'></i>
          {today.getFullYear()}
        </div>
      </div>
      <div class='socials'>
        <a href='https://github.com/v3nd3tti' target='_blank'
          ><i class='fa-brands fa-square-github'></i>
        </a>
        <a href='https://twitter.com/v3nd3tti' target='_blank'
          ><i class='fa-brands fa-twitter-square'></i>
        </a>
        <a href='https://facebook.com/vendetti702' target='_blank'
          ><i class='fa-brands fa-facebook-square'></i>
        </a>
        <a href='https://instagram.com/v3nd3tti' target='_blank'
          ><i class='fa-brands fa-instagram-square'></i>
        </a>
      </div>
    </div>
  </div>
</footer>
