---
---

<!-- NAVBAR -->
<nav class='navbar'>
  <div class='max-width'>
    <div class='logo-container'>
      <div><img class='logo-img' src='/about.jpg' /></div>
      <div class='logo-text'>
        <a href='/'>DV<span>3</span></a>
      </div>
    </div>
    <ul class='menu'>
      <li><a href='/' class='menu-btn'>Home</a></li>
      <li><a href='/about' class='menu-btn'>About</a></li>
      <li><a href='/portfolio' class='menu-btn'>Portfolio</a></li>
      <li><a href='/connect' class='menu-btn'>Connect</a></li>
    </ul>
    <div class='hamburger'>
      <i class='fa-solid fa-bars'></i>
    </div>
  </div>
</nav>
